body{
    font-family: 'Montserrat', sans-serif;
    
}

ul {
    list-style-type: none;
    margin: 5px 135px 0px 0px;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    padding-left: 25px;
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #logo{
      margin-left: 90px;
      position: relative;
  }
 
  #intro{
    margin-top: 10px;
    width: 100%;
  }

  .grid-container {
    margin-top: 185px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
  }
  .grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 70px 0px 0px 105px;
    font-size: 29px;
    text-align: left;
  }

  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 55px;
    font-size: 30px;
    text-align: left;
    width: 420px;
  }

  .more{
    margin: 150px 0px;
    background-size: cover ;
   background-repeat: no-repeat;
    padding: 180px 0px ;
    background-image: url("grp101.png");
  }

  .add-con {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 20px 100px;
  }
  .add-con-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    font-size: 20px;
    
  }