body{
    font-family: 'Montserrat', sans-serif;
    
}
.example::-webkit-scrollbar {
  display: none;
}


ul {
    list-style-type: none;
    margin: 5px 15px 0px 0px;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    padding-left: 25px;
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #logo{
   
      margin-left: 90px;
      position: relative;
  }
 
  #intro{
    margin-top: 10px;
    width: 100%;
  }

  .grid-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
  }
  .grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 70px 0px 0px 105px;
    font-size: 29px;
    text-align: left;
  }

  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 22px 69px;
    font-size: 30px;
    text-align: left;
    width: 420px;
  }

  .more{
    margin: 150px 0px;
    background-size: cover ;
   background-repeat: no-repeat;
    padding: 180px 0px ;
    background-image: url("grp101.png");
  }

  .add-con {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 20px 100px;
  }
  .add-con-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    font-size: 20px;
    
  }

  .topnav{
    display: none;
  }

  #split{
    width: 100%;
    height: 135vh;
  }

  @media screen and (max-width:600px){
    #logo{
      display: none;
    }

    #moblogo{
      width: 200px;
    }

    .nav{
      display: none;
    }

    .topnav {
      display: block;
      overflow: hidden;
      background-color:#febc02;
      position: relative;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }
    
    .topnav a:hover {
      background-color: white;
      color: black;
    }
    
    .active {
      background-color: white;
      color: white;
    }

    #split{
      width: 100%;
      height: 70vh;
    }
  }