body {
    font-family: inherit;
    color: #fff;
}

@font-face {
    font-family: 'alexis_expanded_itaexpandedIt';
    src: url('../fonts/alex/alexis_expanded_italic_expanded_italic-webfont.woff2') format('woff2'),
         url('../fonts/alex/fonts/alexis_expanded_italic_expanded_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dameron_boldbold';
    src: url('../fonts/alex/dameronbold-webfont.woff2') format('woff2'),
         url('../fonts/alex/dameronbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dameronregular';
    src: url('../fonts/alex/dameron-webfont.woff2') format('woff2'),
         url('../fonts/alex/dameron-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.dropdown-menu{
    margin: 0;
}


:focus {
    outline: transparent;
}

button:focus {
    outline: transparent;
}

/*
.dropdown:hover .dropdown-menu{
    display: block;
}
*/
.wp-block-columns.has-2-columns {
    color: #666;
    padding: 100px 0;
}

.wp-block-column {
    width: 49%;
    display: inline-block;
}

#section-1{
    background: #141213;
    border-right: solid 30px #ff3301;
}
#section-1 .nav-link {
    color: #666666;
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
}
#section-1 .nav-link:hover {
    color: #e94421;
}
.banner {
    padding: 100px 0 50px 0;
}
.banner .banner-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.banner .banner-text ul {
    padding: 0px;
    margin: 50px 0 50px 0;
    list-style-type: none;
    color: #fff;
}
.banner .banner-text ul li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 22px;
    color: #fff;
}

.banner-text h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
     color: #000;
}
.banner-text ul {
    padding: 0px;
    margin: 20px 0 50px 0;
    list-style-type: none;
}
.banner-text ul li {
    padding: 0px;
    margin: 0px 0 10px;
    list-style-type: none;
    font-size: 20px;
    color: #000;
}

.mb {
    margin-bottom: 70px;
}
.mt {
    margin-top: 100px;
}
/* 13. hover-border-3 */

.cstm-btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: 0px;    
    background-image: -moz-linear-gradient( 90deg, rgb(204,42,2) 0%, rgb(255,51,1) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(204,42,2) 0%, rgb(255,51,1) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(204,42,2) 0%, rgb(255,51,1) 100%);
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
}
.cstm-btn:hover {
    color: #fff;
}

.p-100{
    padding: 100px 0;
}

.wp-block-column li {
    list-style-type: none;
}
#section-2{
    background-image: url(/wp-content/themes/odysse/images/bg-1.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 42% auto;
}
.feature h5 {
    color: #333;
    font-style: italic;
    margin-top: 100px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 26px;
}
.feature td{
    color:#808080;
    font-size: 18px;
}
.feature td + td{
    text-align: right;
}


#section-2 .slick-dots {
    margin: 20px 0 0;
    bottom: 0;
}
#section-2 .slick-dots, #section-2 .slick-dots li {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

#section-2 .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
#section-2 .slick-dots li button {
    padding: 0;
    margin: 0;
    border: none;
    text-indent: -99999px;
    background: #141213;
    height: 18px;
    WIDTH: 18px;
    BORDER-RADIUS: 50%;
}
#section-2 .slick-dots li.slick-active button {
    padding: 0;
    margin: 0;
    background: #ff3301;
}

#section-3{
    background: #141213;
    position: relative;
}
/*
#section-3:after {
    position: absolute;
    background: #fff;
    content: "";
    width: 50%;
    height: 90px;
    bottom: 0;
    z-index: 0;
    right: 0;
}
*/
#section-3 h6{
    font-size: 24px;
    color: #666666;
    margin-top: 50px;
}
#section-3 h6 span{
    color: #ff3301;
}
#section-3 p{
    font-size: 20px;
}

.cstm-accr .card {
    background-color: transparent;
    border: transparent;
    border-bottom: solid 1px #262626!important;
}

.cstm-accr .card-header {
    background-color: transparent;
    border-bottom: transparent;
     padding: 14px 0;
}

.cstm-accr .collapse.show {
    border-bottom: solid 1px #f00;
}
.cstm-accr .btn-link {
    font-weight: 600;
    color: #fbfbfb;
    font-size: 20px;
    text-decoration: none;
}
.bg-blak{
    background: #0c0a0b;
}
.bg-blak img
{
    margin: 0 auto;
    display: block;
    padding: 100px 0;
}
.cstm-accr {
    padding-left: 25%;
    padding-right: 10%;
}
.cstm-accr table {
    color: #404040;
}
.cstm-accr table td+ td {
    color: #ffffff;
    font-weight: 600;
    text-align: right;
}
.arrow {
    position: absolute;
    right: 17px;
    top: 22px;
}
.card-header [aria-expanded="true"] .fa-plus{
  display: none;
}
.card-header [aria-expanded="false"] .fa-plus{
  display: block;
}
.card-header [aria-expanded="false"] .fa-minus{
  display: none;
}
.pure{
    font-size: 32px;
    margin-top: 80px;
    color: #666666;
    font-weight: 600;
    margin-bottom: 80px;
}
.pure span{
    color: #ff3301;
}
.pre-order{
    padding: 0 90px;
}
.pre-order h3{
    font-size: 55px;
    color: #fff;
}
.learn-more{
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
}
.learn-more a{
    color: #fff;
}
.learn-more i{
    margin-left: 10px;
}

footer{
    background: #fff;
    padding-top: 80px;
}
.ftr-link {
    margin-bottom: 30px;
}
.ftr-link h5 {
    font-weight: 600;
    color: #252525;
    font-size: 22px;
    margin-bottom: 20px;
}
.ftr-link ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.ftr-link ul li {
    padding: 0px;
    margin: 0 0 10px 0;
    list-style-type: none;
    font-size: 20px;
}
.ftr-link ul li a{
    color: #808080;
}
.cprt {
    color: #1a1a1a;
    border-top: solid 1px #f2f2f2;
    padding-top: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
}

/*------- Inner page Css start here*/
.blog-post
{
color:#4c4c4c!important;
}
.blog-main p{
font-size:20px;
color:#4c4c4c!important;
}

#inner-section-1{
    background: white;
}

#inner-section-1 .nav-link {
    color: #000000;
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
}
#inner-section-1 .nav-link {
  /*  color: #fff;
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;*/
}
#inner-section-1 .nav-link:hover {
    color: #e94421;
}

#inner-banner{
    background-image: linear-gradient(0deg, #d12f22, white);
    position: relative;
    margin-top: 30px;
}
.hawk-hawk-{
    position: relative;
}

.hawk-::before {
    position: absolute;
    right: 90px;
    content: "HAWK";
    top: 0;
    font-family: 'alexis_expanded_itaexpandedIt';
    font-size: 200px;
    line-height: normal;
}
.hawk-plus{
    position: relative;
}

.hawk-plus::before {
    position: absolute;
    right: 90px;
    content: "HAWK+";
    top: 0;
    font-family: 'alexis_expanded_itaexpandedIt';
    font-size: 200px;
    line-height: normal;
}

.hawk-lite{
    position: relative;
}

.hawk-lite::before {
    position: absolute;
    right: 90px;
    content: "HAWK Lite";
    top: 0;
    font-family: 'alexis_expanded_itaexpandedIt';
    font-size: 150px;
    line-height: normal;
}

.racer{
    position: relative;
}

.racer::before {
    position: absolute;
    right: 90px;
    content: "Racer";
    top: 0;
    font-family: 'dameron_boldbold';
    font-size: 200px;
    line-height: normal;
}

.evoqis{
    position: relative;
}

.evoqis::before {
    position: absolute;
    right: 90px;
    content: "Evoqis";
    top: 0;
    font-family: 'alexis_expanded_itaexpandedIt';
    font-size: 200px;
    line-height: normal;
}

.feature-2{
    margin-bottom: 80px;
}

.feature-2 h5{
    font-size: 35px;
    color: #1a1a1a;
    font-weight: 700;
}
.feature-2 p {
    font-size: 17px;
    color: #737373;
    font-weight: 500;
    padding-right: 170px;
}
.feature-2 a{
    color: #737373;
}
#section-ride
{
    background: #fff;
    padding: 100px 0; 
    position: relative;
}
.odysse-bike {
    padding-top: 90px;
}
.odysse-bike .bike-des{
    
}

.odysse-bike ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: right;
}
.odysse-bike ul li {
    padding: 16px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    background: #eeeeee;
    width: 175px;
    height: 175px;
    vertical-align: top;
}
.odysse-bike ul li .bike-des span {
    font-size: 54px;
    color: #000;
    display: block;
    text-align: center;
}
.odysse-bike ul li .bike-des {
    color: #808080;
    font-size: 17px;
    text-align: center;
}
.odysse-bike ul li:nth-child(1) {
    padding: 16px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    background: #e63d24;
    position: relative;
}
.odysse-bike ul li:nth-child(1)::before {
    position: absolute;
    content: "";
    right: 0;
    background: #e63d24;
    width: 2100%;
    height: 205px;
    top: -30px;
    z-index: 0;
}
.bike-des-1 {
    font-size: 38px;
    text-align: center;
    line-height: 42px;
    position: absolute;
    left: -11px;
    top: 10px;
}
.bike-des-1 span{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.position-left {
    position: absolute;
    right: -34px;
    top: -100px;
    left: -106px;
}

#section-compact{
    background-image: url(/wp-content/themes/odysse/images/compact-banner.jpg);
    background-size: cover;
}
#ultra-point{
    margin-top: -100px;
    background-image: url(/wp-content/themes/odysse/images/bg-2.png);
    background-position: right center;
    background-repeat: no-repeat;
 }
.utra {
    background: #fff;
    padding: 20px 20px 0 20px;
    position: relative;
    padding-bottom: 50px;
}
.utra::before {
    position: absolute;
    content: "";
    left: 10%;
    right: 10%;
    background-image: -moz-linear-gradient( 90deg, rgb(207,46,33) 0%, rgb(234,63,36) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(207,46,33) 0%, rgb(234,63,36) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(207,46,33) 0%, rgb(234,63,36) 100%);
    /* width: 100%; */
    height: 18px;
    bottom: 0;
}

.utra h5 {
    color: #000;
    font-size: 23px;
    font-weight: 700;
}
.utra p{
    color: #808080;
}

.utra .slick-dots {
    margin: 20px 0 0;
    bottom: 0;
}
.utra .slick-dots, #section-2 .slick-dots li {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.utra .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.utra .slick-dots li button {
    padding: 0;
    margin: 0;
    border: none;
    text-indent: -99999px;
    background: #141213;
    height: 3px;
    WIDTH: 29px;
    BORDER-RADIUS: 0;
}
.utra .slick-dots li.slick-active button {
    padding: 0;
    margin: 0;
    background: #ff3301;
}

.utra .slick-slide img {
    display: block;
    margin: 0 auto;
    width: 70px;
}

.rider {
    padding-bottom: 50px;
    background: #fff;
    text-align: center;
    padding: 20px;
}

.rider h5 {
    color: #000;
    font-size: 23px;
    font-weight: 700;
}
.rider ul {
    padding: 0px;
    margin: 100px 0 10px 0;
    list-style-type: none;
}
.rider ul li {
    padding: 0px 10px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    color: #000;
    font-size: 23px;
    font-weight: 600;
}

#further{
    
    padding: 100px 0;
}

.race-bg{
    background-image: url(/wp-content/themes/odysse/images/racer-banner-2.jpg)!important;
}

.evoqis-bg{
  background-color: #000;  
}
.evoqis-bg-1{
    background-color: #000;
}
#further h2{
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
}
#further p{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
}
.bettry {
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
    line-height: 44px;
}

#sliptrams{
    padding: 0;
    background: #f5f5f5;
}
#sliptrams h2{
    color: #1a1a1a;
    font-size: 45px;
    font-weight: 700;
}
#sliptrams p{
    color: #737373;
    font-size: 25px;
}

#sliptrams .omgess{
    margin-bottom: -100px;
}

#balance{
    background: #333;
    padding: 100px 0;
}
#balance h2{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}
#balance p{
    color: #fff;
    font-size: 25px;
}
#red-bg{
    background: #cf2e21;
}
#red-bg h2{
    font-size: 25px;
}

#white-bg{
    background: #fff;
}
#white-bg ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
#white-bg ul li {
    padding: 20px 0 0 0;
    margin: 0px;
    list-style-type: none;
    background: #cf2e21;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    border-top: solid 4px #fff;
}
#white-bg ul li:nth-child(2) {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    margin-top: 64px;
    position: relative;
}

#white-bg ul li:nth-child(2)::before {
    background: #cf2e21;
    position: absolute;
    width: 100%;
    height: 63px;
    content: "";
    left: 0;
    top: -68px;
}
#white-bg ul li h4{
    margin-top: 50px;
    margin-bottom: 20px;
}

.font-20{
    font-size: 18px;
    color: #4c4c4c;
    margin-top: 50px;
}
.techniq {
    margin-top: 0;
    background: #141213;
    padding-bottom: 20px;
    padding-top: 20px;
}
.techniq a {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
}
.techniq .card-body {
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    background-color: #141213;
}
.spec {
    margin-bottom: 50px;
    text-align: left;
}
.spec h4 {
    font-weight: 700;
    font-size: 18px;
}
.spec p {
    font-size: 24px;
}

.social-media {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 1;
}
.social-media li {
    list-style-type: none;
    color: #24afe5;
    font-size: 18px;
    margin-bottom: 20px;
}
.social-media li a {
    color: #fff;
}

#e-booking{
    background-image: url(https://odysse.in/wp-content/uploads/2020/02/concrete.jpg);
    background-color: #000;
    height: 80vh;
    text-align: center;
}

#e-booking button {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.25rem;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #000;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
#e-booking select {
    background: #000;
    padding: 9px 45px;
    color: #fff;
    border-radius: 50px;
    border: transparent;
}
.iconimgcls a {
    color: #fd793f;
    display: block;
    margin-top: 20px;
    font-size: 22px;
}
.iconimgcls img {
    width: 200px;
    height: 200px;
}

.bannerr .slick-dots {
    margin: 20px 0 0;
    bottom: 0;
}
.bannerr .slick-dots{
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.bannerr .slick-dots li {
    text-align: center;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}


.bannerr .slick-dots li:nth-child(1) button
{
    background: red;
}

.bannerr .slick-dots li:nth-child(2) button
{
    background: yellow;
}

.bannerr .slick-dots li:nth-child(3) button
{
    background: green;
}

.bannerr .slick-dots li button {
    padding: 0;
    margin: 0;
    border: none;
    text-indent: -99999px;
    background: #b9c1c2;
    height: 18px;
    WIDTH: 18px;
    BORDER-RADIUS: 50%;
}

.other-info .spec p{
    font-size: 18px;
    color: #000; 
}

.other-info h4 {
    font-weight: 700;
    font-size: 20px;
    color: #4c4c4c;
}

.other-info a {
    font-size: 17px;
    color: #ffffff;
    background: red;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
}
.other-info .card-body {
    background: #fff4f4;
}
/*----------------Blog--------------*/

.blog-main .blog-post .blog-post-title {
font-size: 26px;
font-weight: 400;
color: #4c4c4c;
margin-bottom: 20px;
margin-top: 20px;

}
.blog-main .blog-post .blog-post-breadcrumb {
background-color: transparent;
color: #999;
padding: 5px 0 0;
font-size: 15px;
margin-bottom: 10px;
}
.blog-main .blog-post .blog-post-breadcrumb li {
padding-right: 18px;
color:#4c4c4c;
}
.blog-main .blog-post .blog-post-breadcrumb li i {
color: #4c4c4c;
margin-right: 5px;
}
.social-link-list {
padding: 0;
margin: 0 0 20px;
list-style-type: none;
text-align: right;
}
.social-link-list li {
display: inline-block;
padding: 0 3px;
}
.social-link-list li a {
color: #fff;
}
.fbs, .google, .linkdn, .tweet {
height: 25px;
width: 25px;
display: inline-block;
text-align: center;
line-height: 25px;
color: #fff;
}
.google {
background: #d34836;
}
.fbs {
background: #3b5998;
}
.linkdn {
background: #0077B5;
}
.tweet {
background: #0084b4;
}
.social-link-list li a {
color: #fff;
}
.blog-sidebar {
background: #ecebeb;
padding: 10px;
}
.blog-sidebar h4 {
font-size: 18px;
font-weight: 700;
color: #000;
position: relative;
margin-bottom: 20px;
text-transform: uppercase;
}
#custom-search-input {
position: relative;
margin-bottom: 50px;
}
#custom-search-input input {
padding-right: 53px;
}
#custom-search-input .btn-search {
color: #000;
background-image: none;
background: transparent;
padding: 0.375rem 1rem;
position: absolute;
border-radius: 0;
top: 0px;
right: 4px;
cursor: pointer;
}
.recnt-post {
padding: 0px;
margin: 0 0 50px;
list-style-type: none;
}
.recnt-post li {
padding: 0 0 0 20px;
margin: 0 0 10px;
list-style-type: none;
position: relative;
font-size: 14px;
}
.recnt-post li a {
color: #000;
}
.recnt-post li::after {
position: absolute;
width: 12px;
height: 12px;
content: "";
background-image: url(//www.independenceranch.com/wp-content/themes/ranch/images/green-arrow-2.png);
background-repeat: no-repeat;
left: 0;
top: 6px;
}
.Categories {
padding: 0px;
margin: 0 0 50px;
list-style-type: none;
}
.Categories li {
padding: 0 0 0 20px;
margin: 0 0 10px;
list-style-type: none;
position: relative;
font-size: 14px;
}
.Categories li a {
color: #000;
}
.Categories li::after {
position: absolute;
width: 8px;
height: 8px;
content: "";
left: 0;
top: 7px;
background: #ef9034;
}
.cstm-pagination {
margin-top: 40px;
background: #efeded;
padding: 5px 0;
}
.cstm-pagination .pagination {
margin: 0px;
}
.cstm-pagination .page-link {
color: #333;
margin: 0 3px;
}
.cstm-pagination .page-link:hover {
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}
.cstm-pagination .page-link:hover a{
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}
.cstm-pagination .page-link a:hover {
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}



/*Blog Page*/

.blog-main .blog-post .blog-post-title {
font-size: 26px;
font-weight: 400;
color: #000;
margin-bottom: 20px;
}
.blog-main .blog-post .blog-post-breadcrumb {
background-color: transparent;
color: #999;
padding: 5px 0 0;
font-size: 15px;
margin-bottom: 10px;
}
.blog-main .blog-post .blog-post-breadcrumb li {
padding-right: 18px;
color: #000;
}
.blog-main .blog-post .blog-post-breadcrumb li i {
color: #000;
margin-right: 5px;
}
.social-link-list {
padding: 0;
margin: 0 0 20px;
list-style-type: none;
text-align: right;
}
.social-link-list li {
display: inline-block;
padding: 0 3px;
}
.social-link-list li a {
color: #fff;
}
.fbs, .google, .linkdn, .tweet {
height: 25px;
width: 25px;
display: inline-block;
text-align: center;
line-height: 25px;
color: #fff;
}
.google {
background: #d34836;
}
.fbs {
background: #3b5998;
}
.linkdn {
background: #0077B5;
}
.tweet {
background: #0084b4;
}
.social-link-list li a {
color: #fff;
}
.blog-sidebar {
background: #ecebeb;
padding: 10px;
}
.blog-sidebar h4 {
font-size: 18px;
font-weight: 700;
color: #000;
position: relative;
margin-bottom: 20px;
text-transform: uppercase;
}
#custom-search-input {
position: relative;
margin-bottom: 50px;
}
#custom-search-input input {
padding-right: 53px;
}
#custom-search-input .btn-search {
color: #000;
background-image: none;
background: transparent;
padding: 0.375rem 1rem;
position: absolute;
border-radius: 0;
top: 0px;
right: 4px;
cursor: pointer;
}
.recnt-post {
padding: 0px;
margin: 0 0 50px;
list-style-type: none;
}
.recnt-post li {
padding: 0 0 0 20px;
margin: 0 0 10px;
list-style-type: none;
position: relative;
font-size: 14px;
}
.recnt-post li a {
color: #000;
}
.recnt-post li::after {
position: absolute;
width: 12px;
height: 12px;
content: "";
background-image: url(//www.independenceranch.com/wp-content/themes/ranch/images/green-arrow-2.png);
background-repeat: no-repeat;
left: 0;
top: 6px;
}
.Categories {
padding: 0px;
margin: 0 0 50px;
list-style-type: none;
}
.Categories li {
padding: 0 0 0 20px;
margin: 0 0 10px;
list-style-type: none;
position: relative;
font-size: 14px;
}
.Categories li a {
color: #000;
}
.Categories li::after {
position: absolute;
width: 8px;
height: 8px;
content: "";
left: 0;
top: 7px;
background: #ef9034;
}
.cstm-pagination {
margin-top: 40px;
background: #efeded;
padding: 5px 0;
}
.cstm-pagination .pagination {
margin: 0px;
}
.cstm-pagination .page-link {
color: #333;
margin: 0 3px;
}
.cstm-pagination .page-link:hover {
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}
.cstm-pagination .page-link:hover a{
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}
.cstm-pagination .page-link a:hover {
color: #fff;
text-decoration: none;
background-color: #ea7a0e;
border-color: #ea7a0e;
}

.blog-post a {
    color: #000;
}

.blog-main hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.techniq .btn {
    background: #f00;
}

.techniq .btn:hover {
    background: #de0000;
    color: #fff;
}


@media (max-width: 1921px) and (min-width: 1920px){
   .container{
    max-width: 95%;
}
    
#section-1 .nav-link {
    font-size: 25px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 500;
}
.banner .banner-text h1 {
    font-size: 45px;
}  
    
}


@media  screen and (max-width: 1920px) {
   
.container{
    max-width: 95%;
}
    
#section-1 .nav-link {
    font-size: 25px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 500;
} 
.banner .banner-text ul li {
    font-size: 29px;
    margin-bottom: 15px;
}
#section-3 h6 {
    font-size: 40px;
}
#section-3 h6 {
    font-size: 40px;
    line-height: 60px;
}
#section-3 p {
    font-size: 30px;
}
.pure {
    font-size: 90px;
} 
.pre-order {
    padding-left: 90px;
    padding-right: 181px;
}
.pre-order h3 {
    font-size: 67px;
} 
#section-3:after {
    height: 130px;
    bottom: -1px;
} 
.ftr-link h5 {
    font-size: 25px;
}
.ftr-link ul li {
    font-size: 21px;
}    
}

@media  screen and (max-width: 1440px) {
.container{
    max-width: 95%;
}
    
#section-1 .nav-link {
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 500;
}
.banner .banner-text ul li {
    font-size: 20px;
} 
#section-3 h6 {
    font-size: 24px;
    line-height: 40px;
}
#section-3 p {
    font-size: 24px;
}
.pure {
    font-size: 40px;
    padding-left: 150px;
}
.pre-order h3 {
    font-size: 45px;
}
.ftr-link h5 {
    font-size: 20px;
}
.ftr-link ul li {
    font-size: 18px;
}
.odysse-bike ul li {
    width: 160px;
}
#ultra-point {
    padding-bottom: 70px;
}    
}

@media  screen and (max-width: 1280px) {
.banner .banner-text h1 {
    font-size: 35px;
    font-weight: 700;
}
}

@media  screen and (max-width: 1200px) {
#inner-section-1 .nav-link {
    font-size: 15px;
}
.hawk-plus::before {
    top: -40px;
    font-size: 140px;
}
.odysse-bike ul li {
    width: 122px;
}
.bike-des-1 {
    font-size: 28px;
    line-height: 35px;
    top: 10px;
}
.odysse-bike ul li .bike-des span {
    font-size: 38px;
}
.odysse-bike ul li .bike-des {
    font-size: 13px;
}
.rider ul li {
    font-size: 15px;
}
#further h2 {
    font-size: 45px;
}
#further p {
    font-size: 18px;
}
#sliptrams p {
    font-size: 18px;
}
#sliptrams h2 {
    font-size: 35px;
}
#balance p {
    font-size: 19px;
}    
#section-1 .nav-link {
    font-size: 14px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
.banner .banner-text h1 {
    font-size: 28px;
}
.banner .banner-text ul {
    margin: 20px 0 35px 0;
    list-style-type: none;
}
.cstm-btn {
    padding: 10px 28px;
    font-size: 14px;
    color: #fff;
}
 #section-3 h6 {
    font-size: 20px;
    line-height: 30px;
}
#section-3 p {
    font-size: 20px;
}  
.pure {
    font-size: 30px;
    padding-left: 150px;
}
.pre-order {
    padding-left: 70px;
    padding-right: 140px;
}
.pre-order h3 {
    font-size: 35px;
}
#section-3:after {
    height: 58px;
    bottom: -1px;
}    
}
@media  screen and (max-width: 992px) {
   
.position-left{
  display: none;
}    
.feature-2 p {
    padding-right: 0;
}
.odysse-bike {
    padding-top: 0;
}
.odysse-bike ul li {
    width: 162px;
}
.bike-des-1 {
    right: 20px;
}    
    #red-bg img{
        display: none;
    }
#red-bg {
    padding-top: 40px;
    padding-bottom: 40px;
}    
#white-bg ul li {
    width: 230px;
}    
.custom-toggler.navbar-toggler {
    border-color: rgb(232, 76, 27);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 76, 27, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
/*
.navbar {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}
*/

.navbar-collapse {
    background: #212529;
}
    
#section-1 .nav-link {
    color: #ffffff;
}    
.banner-text {
    text-align: center;
    margin-top: 40px;
}
.mt {
    margin-top: 20px;
}
.cstm-accr {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
}
.pre-order {
    padding-left: 50px;
    padding-right: 50px;
}    
}
@media  screen and (max-width: 767px) {
#section-3 h6 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
#white-bg ul li {
    width: 195px;
}    
}

@media  screen and (max-width: 568px) {
#section-3:after{
    display: none
}
.pre-order {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.odysse-bike ul li {
    width: 120px;
}
.bike-des-1 {
    font-size: 21px;
    line-height: 35px;
    top: 10px;
}
.hawk-plus::before {
    right: 30px;
    font-size: 62px;
    top: 0px;
}
.further-text {
    text-align: center!important;
    margin-top: 40px;
}
#further h2 {
    font-size: 32px;
}
#white-bg ul li {
    width: 160px;
}
.hawk-::before {
    right: 16px;
    font-size: 80px;
}
.racer::before {
    right: 30px;
    font-size: 60px;
}
.hawk-lite::before {
    right: 30px;
    font-size: 40px;
}
.hawk-lite::before {
    right: 23px;
    font-size: 44px;
}
.evoqis::before {
    right: 30px;
    font-size: 56px;
}    
}

@media  screen and (max-width: 414px) {
.feature-2 h5 {
    font-size: 28px;
}
.odysse-bike ul li {
    width: 49%;
}
#white-bg ul li {
    width: 100%;
}
    #white-bg ul li:nth-child(2)::before{
        display: none;
    }    
.navbar-brand {
    width: 30%;
}
#white-bg ul li:nth-child(2) {
    margin-top: 0;
}
.techniq a {
    font-size: 16px;
}    
.pure {
    font-size: 20px;
    padding-left: 20px;
} 
.pre-order h3 {
    font-size: 25px;
}
#section-1 {
    border-right: solid 11px #ff3301;
}
.pre-order {
    padding-left: 0;
    padding-right: 0;
} 
.cstm-accr {
    padding-left: 0;
    padding-right: 0;
}
.card-body {
    padding: 0;
}
#section-2 {
    background-size: 100% auto;
}    
}
@media  screen and (max-width: 320px) {
.banner .banner-text ul li {
    font-size: 14px;
}
#section-3 p {
    font-size: 14px;
} 
.cstm-accr .btn-link {
    font-size: 16px;
}
.ftr-link h5 {
    font-size: 16px;
}
.ftr-link ul li {
    font-size: 14px;
}
.cprt {
    font-size: 12px;
}
.pre-order h3 {
    font-size: 20px;
}
.learn-more {
    font-size: 16px;
}    
}